body {
  font-family: "poppins", sans-serif;
  background-color: #f2d9e6;
  color: white;
  margin: 0;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  display: block;
  border-radius: 12px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

nav {
  background: linear-gradient(to right, #ffd6e8, #ffb6d9, #ff94c2);
  padding: 1rem 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

nav li:hover {
  background-color: #ffeaf3;
  cursor: pointer;
}
 

.recipe-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-header p {
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.hero-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: block;
  margin-top: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recipe-container {
  max-width: 900px;
  margin: 2rem auto;
  background-color: #ecc6d9;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}
